<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AI Powered Resume Screening System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🚀 AI Powered Resume Screening System</h1>

    <form action="/predict"
          method="POST"
          enctype="multipart/form-data">

        <h3>Job Description</h3>

        <textarea
            name="job_description"
            rows="10"
            placeholder="Example:

Skills: Python, Flask, SQL, Machine Learning

Experience: 2 Years

Education: BE Computer Science"
            required></textarea>

        <br><br>

        <h3>Upload Candidate Resumes (Multiple PDF)</h3>

        <input
            type="file"
            name="resume"
            accept=".pdf"
            multiple
            required>

        <br><br>

        <button type="submit">

            Analyze Resumes

        </button>

    </form>

    {% if results %}

    <div class="result-box">

        <h2>📊 Resume Analysis Results</h2>

        <br>

        <table border="1" width="100%">

            <thead>

                <tr>

                    <th>ID</th>

                    <th>Candidate Name</th>

                    <th>Skills Match</th>

                    <th>Experience Match</th>

                    <th>Education Match</th>

                    <th>Total Score</th>

                    <th>Status</th>

                    <th>Reason</th>

                </tr>

            </thead>

            <tbody>

                {% for row in results %}

                <tr>

                    <td>{{ row.id }}</td>

                    <td>{{ row.candidate_name }}</td>

                    <td>{{ row.skills_score }}/60</td>

                    <td>{{ row.experience_score }}/20</td>

                    <td>{{ row.education_score }}/20</td>

                    <td>{{ row.total_score }}%</td>

                    <td>{{ row.status }}</td>

                    <td>{{ row.reason }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    {% endif %}

</div>

</body>

</html>