<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Screening</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI Powered Resume Screening System</h1>

    <form action="/predict" method="post" enctype="multipart/form-data">

        <h3>Required Skills</h3>
        <textarea name="skills"
        placeholder="Python, Flask, SQL"></textarea>

        <br><br>

        <h3>Required Experience</h3>
        <input type="text" name="experience"
        placeholder="Example: 2 Years">

        <br><br>

        <h3>Required Education</h3>
        <input type="text" name="education"
        placeholder="Example: BE Computer Science">

        <br><br>

        <h3>Candidate Resume (PDF)</h3>
        <input type="file" name="resume" accept=".pdf" required>

        <br><br>

        <button type="submit">Analyze Resume</button>

    </form>

    {% if prediction %}

    <h3>Skills Match : {{ skills_score }}%</h3>

    <h3>Experience Match : {{ experience_score }}%</h3>

    <h3>Education Match : {{ education_score }}%</h3>

    <h2>{{ prediction }}</h2>

    {% endif %}

    {% if reason %}
    <p><strong>Reason:</strong> {{ reason }}</p>
    {% endif %}

</div>

</body>
</html>
